@import '/home/jv-godinho/.config/waybar/colors.css';

* {
    font-size: 20px;
    font-family: "JetBrains Mono NFM";
}

window {
    background-color: rgba(17, 17, 17, 0.45);
}

button {
    border-radius: 20px;
    margin: 10px;
    color: @on_background;
    border-color: @on_background;
    background-color: rgba(0, 0, 0, 0.5);
    outline-style: none;
    border-style: solid;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    box-shadow: none;
    text-shadow: none;
}

button:hover, button:focus {
    background-color: @primary;
    border-color: @primary;
    color: @on_surface;
    outline-style: none;
    background-size: 30%;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

#lock {
    background-image: url("/home/jv-godinho/.config/wlogout/lock.png");
}
#hibernate {
    background-image: url("/home/jv-godinho/.config/wlogout/hibernate.png");
}
#logout {
    background-image: url("/home/jv-godinho/.config/wlogout/logout.png");
}
#suspend {
    background-image: url("/home/jv-godinho/.config/wlogout/suspend.png");
}
#shutdown {
    background-image: url("/home/jv-godinho/.config/wlogout/shutdown.png");
}
#reboot {
    background-image: url("/home/jv-godinho/.config/wlogout/reboot.png");
}
